babel==2.13.0
click==8.1.7
rich==13.9.3
httpx==0.28.1
aiofiles==24.1.0
aiosqlite==0.20.0
pyyaml==6.0.3
jsonpath-ng==1.6.1
importlib_resources==6.4.5
m3u8==3.6.0
websockets<13.0
websockets_proxy==0.1.2
PyExecJS==1.5.1
protobuf==5.28.3
gmssl==3.2.2
cryptography==42.0.8
